.img_title {
  background-image: url("/src/ComponentsCandidate/img/title.svg");
  width: 417px;
  height: 81px;
}

.img_logo {
  background-image: url("/src/ComponentsCandidate/img/logo.svg");
  width: 135px;
  height: 40px;
  margin-right: 25vw;
  margin-left: 5vw;
}

.container_cards {
  display: grid;
  gap: 7%;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-around;
}

.container_cards_jobs {
  display: grid;
  gap: 7%;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-around;
  background-color: #f7fbfe;
}

@media (max-width: 1300px) {
  .img_logo {
    background-repeat: no-repeat;
    margin-right: 5vw;
    margin-left: 1vw;
    width: 150px;
    height: 60px;
  }
  .options_header {
    align-items: center;
  }
  .container_cards {
    display: grid;
    gap: 5%;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    margin-right: 3%;
  }
  .container_cards_jobs {
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .img_title {
    background-image: url("/src/ComponentsCandidate/img/titleDos.svg");
    width: 281px;
    height: 96px;
  }
  .img_logo {
    background-repeat: no-repeat;
    width: 150px;
    height: 40px;
    margin-right: 0;
    margin-left: 0;
  }
  .options_header {
    display: none;
  }
  .menu_burger {
    background-image: url("/src/ComponentsCandidate/img/ico-nav.svg");
    margin-left: 45vw;
    width: 25px;
    height: 25px;
  }
  .container_cards {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }
  .mini_icons {
    margin-right: 5px;
  }
  .container_cards_jobs {
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }
}
